/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*font-size: 10px;*/
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 2px;
    transition: background-color .25s, color .25s, var(--secondary-background-color);
}
.Centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Centrado-Centering{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ColorH{
    color: white;
    
}
a{
    text-decoration: none;
    color: inherit;

}
img {
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;

}

i{
   font-size: var(--font-size-md); 
}

th, td{
    border: 1px solid rgb(107, 107, 107);
    border-collapse: collapse;
    padding-left: 30px;
    padding-right: 30px;
}

.general-padding{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.title-padding{
    padding: 10px;
}

.enter-spacing{
    padding: 10px;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.screen-sm-hidden{
    display: none;
}

.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);
    /*opacity: 0;
    transform: scale(0);*/
    transition: opacity .25s, ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover, .btn:hover,.btn:hover span{
    color: var(--light-color);
}


.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform:  scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}

.Lineal-Spacing{
    font-size: 2rem;
    white-space: pre;
    padding-left: 20rem;
}

.If-Text{
    padding-top: 2rem;
    font-size: medium;
    font-weight: 400;
}